html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background: linear-gradient(180deg, rgb(0, 7, 19), rgba(1, 1, 53, 0.2));
  color: lightgrey;
}

a{
  text-decoration: none;
  color:inherit
}

section{
  height: 100vh;
  scroll-snap-type: center;
}